nav{
    flex:1;
    background-color: orangered;
    padding: 40px;
    border-radius: 10px;
    margin-right: 45px;
}

.card{
    background-color: orangered;
    margin: 50px;
}
body{
    background-color: black;
}
.nav-item a{
    font-size: 25px;
    font-family: Bahnschrift;
    color: white;
    padding-left: 15px;
    
}
.container-info {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 20px; 
    background-color:black; 
}
.card-img{
    flex: 1;
    margin-left: 35px;
    width: 30%;
}
.card-title{
    flex: 1;
    font-family: Bahnschrift;
    margin-right: 45px;
}
.card-text{
    flex: 1;
    font-family: Bahnschrift;
    margin-right: 45px;
}
.dropdown-menu{
    background-color: orangered;
}
li a{
    font-size: 25px;
    font-family: Bahnschrift;
    color: white;
    padding-left: 15px;
}


